.sign{
    color: rgb(133, 73, 93);
    text-shadow: 2px 2px 2px gray;
}

.box1{
    width: 75%;
    display: inline-block;
    margin-left: 25%;
}

@media screen and (max-width: 630px)
{ 
    .box1 {width: 150%; margin-left: auto;}
}