<link rel="stylesheet" href="/static/todo.css">
<link rel="stylesheet" href="/static/menu.css">
<link rel="stylesheet" href="/static/login.css">

{% extends "base.html" %}
{% block section %}

<section>
    <div class="box1">
        <form action="/lo_gin" method="post">
        <h3 class="sign">로그인</h3>
        <input type="text" name="id" class="input_box"placeholder="아이디" autofocus required>
        <input type="password" name="pw" class="input_box"placeholder="비밀번호" autofocus required>
        <input type="submit" value="로그인">
        </form>
    </div>
</section>

{% endblock %}