<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/static/todo.css">
  <link rel="stylesheet" href="/static/menu.css">
  <link rel="stylesheet" href="/static/login.css">
</head>

<body>


<header>
    <div class="dropdown">
    <button class="dropbtn">MENU</button>
    <div class="dropdown-content">
    <a href="#">회원가입</a>
    <a href="/login">로그인</a>
    </div>
</header>
<nav>
    <h2 class="title"><a href="/">ToDo List</a></h2>
</nav>
<section>
    <div class="box1">
        <h3 class="sign">회원가입</h3>
        <input type="text" name="id" class="input_box"placeholder="아이디" autofocus required>
        <input type="password" name="pass" class="input_box"placeholder="비밀번호" autofocus required>
        <input type="submit" class="signin2" value="로그인">
    </div>
</section>

</body>
</html>