<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/todo.css">
</head>

<body>
<header>
<h2 class="title">ToDo List</h2>
<form id="myDIV" class="header" action="/content" method="post">
  <input name="name" type="text" id="myInput" placeholder="추가하기...">
  <button type="submit" class="addBtn">Add</button>
<!--  <span type onclick="" class="addBtn">Add</span>-->
</form>
</header>

<section>
<div>
<ul id="list">
    {% for testtest in content %}
    <li><a href="/delete?id={{testtest[0]}}" id="xBtn">X</a>{{testtest[1]}}</li>
    {% endfor %}
    
</ul>

</div>
</section>

<script src="/static/todo.js"></script>
</body>
</html>