<link rel="stylesheet" href="/static/todo.css">
<link rel="stylesheet" href="/static/menu.css">

{% extends "base.html" %}
{% block section %}

<section>
    <form id="myDIV" class="header" action="/content" method="post">
        <input name="content" type="text" id="myInput" placeholder="추가하기...">
        <button type="submit" class="addBtn">Add</button>
    </form>

    <div>
    <ul id="list">
        {% for con in content %}
        <li class="text">{{con[1]}}<a href="/delete?id={{con[0]}}" id="xBtn">X</a></li>
        {% endfor %}
        
    </ul>
    
    </div>
</section>

{% endblock %}